/.venv
*.env
*.db
*.sock
*.pid
*.log
*.access.log
*.error.log
*.gunicorn.log
*.gunicorn.access.log
*.gunicorn.error.log
*.gunicorn.pid


instance/*
.browsers/
tests/.profiles/
tests/artifacts/
tests/report/
tests/test-results/

node_modules/
.node_modules/