#sharetube_pill {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 8px;
    height: 36px;
    padding: 0 5px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.3);
    color: var(--yt-spec-text-primary, #fff);
    border: 1px solid rgba(255, 255, 255, 0.2);
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    backdrop-filter: blur(0.3em) brightness(0.5) contrast(1.1);
    pointer-events: auto;
}

#sharetube_pill .room_code {
    font-size: 12px;
    opacity: 0.7;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    background: #00000063;
    border-radius: 999px;
    padding: 1.1px 4px;
    line-height: 1;
    font-family: 'Roboto';
}

#sharetube_pill .room_presence {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    outline: 1px solid grey;
    border-radius: 999px;
    padding: 4px;
}

#sharetube_pill .presence {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

#sharetube_pill .presence .user_icon_avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
    background: #222;
    border: 1px solid rgba(255, 255, 255, 0.25);

    outline: 0px solid transparent;
    transition: outline-width 200ms ease;

    &:hover {
        outline-width: 2px;
        outline-color: rgba(255, 255, 255, 0.5);
    }
}

#sharetube_toggle_queue {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    color: var(--yt-spec-text-primary, #fff);
}

#sharetube_pill.dragover {
    background: rgba(255, 255, 255, 0.18);
    border-style: dashed;
}

#sharetube_pill img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    object-fit: cover;
    background: #222;
}

#sharetube_pill span {
    white-space: nowrap;
    font-weight: 500;
}