#sharetube_queue .queue_selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

#sharetube_queue .queue_selector .queue_selector_item {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    padding: 5px 10px;
}

#sharetube_queue .queue_selector .queue_selector_item:hover {
    text-decoration: underline;
}

#sharetube_queue .queue_selector .queue_selector_item:active {
    text-decoration: underline;
}

#sharetube_queue .queue_selector .queue_selector_item.active {
    text-decoration: underline;
}